// Variables
@import "fonts";
@import "bootstrap";
@import "~select2/src/scss/core";

/* Make Select2 boxes match Bootstrap3 as well as Bootstrap4 heights: */
.select2-selection__rendered {
  line-height: 32px !important;
}

.select2-selection {
  height: 40px !important;
  border-radius: 0 !important;
}

$link-color: #CF6B37;
$gray: #F9F9F9;
$link-color-hover: #000;
$max-width-container: 1400px;

@keyframes showNav {
  from {opacity: 0;}
  to {opacity: 1;}
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  //font: 18px/27px "Circe", sans-serif;
  font: 18px/27px "Jost", sans-serif;
  font-size: 16px;
  background: #FFFFFF;
}

body, .slick-overflow {
  &::-webkit-scrollbar {
    width: 13px;
    background: rgba(0, 0, 0, 0.19);
  }

  /* Track */
  &::-webkit-scrollbar-track {
    width: 13px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: #000;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background-color: #000;
  }
}

a, .color-orange, .link {
  color: $link-color !important;
}
a:hover, .link:hover, a.active {
  color: $link-color-hover !important;
}
a.inverse, .inverse {
  color: $link-color-hover !important;
}

a.inverse:hover, .inverse:hover {
  color: $link-color !important;
}

a.link-category {
  color: #A69C93 !important;
  font-size: 32px;
  line-height: 46px;
  text-decoration: none;
  transition: .2s;
  border-bottom: 2px solid transparent;
  &.active, &:hover {
    color: #000!important;
    border-bottom: 2px solid #CF6B37;
  }
}

.border-hover {
  padding: 10px;
  border: 1px solid transparent;
  transition: .2s;
  &:hover {
    border: 1px solid #A69C93;
  }
}

.checkbox {
  width: 100%;
  position: relative;
  display: block;
  label {
    position: relative;
    min-height: 34px;
    display: block;
    padding-left: 40px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    span {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      margin: 4px;
      width: 22px;
      height: 22px;
      transition: transform 0.28s ease;
      border-radius: 3px;
      border: 1px solid #A69C93;
    }
    &:after {
      content: '';
      display: block;
      width: 10px;
      height: 5px;
      border-bottom: 2px solid white;
      border-left: 2px solid white;
      transform: rotate(-45deg) scale(0);
      transition: transform ease 0.25s;
      position: absolute;
      top: 12px;
      left: 10px;
    }
  }
  input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
    &:checked ~ label{
      &:before {
        border: 1px solid #A69C93;
        background: $link-color;
      }
      &:after {
        transform: rotate(-45deg) scale(1);
      }
    }
    &:focus + label::before {
      outline: 0;
    }
  }
}

.bg-gray {
  background-color: $gray;
}
.bg-gray-50 {
  background-color: #B6B7BF;
}

.btn-transparent {
  border: 1px solid #FFF;
  padding: 10px 24px;

}

.link-inverse-login-register {
  box-shadow: inset 4px -3px 19px -12px;
  > *, a {
    color: #A69C93 !important;
    &:hover {
      color: $link-color !important;
    }
  }
}

.register-page .link-inverse-login-register {
  box-shadow: inset -4px -3px 19px -12px;
}

.btn-outline-social {
  color: #000 !important;
  border: 1px solid #A69C93;
  &:hover {
    //background: #2284F4;
    //border: 1px solid #2284F4;
    color: #fff !important;
    >.icon-google, .icon-facebook, .fa-vk {
      color: #fff;
    }
  }
  >.icon-google {
    color: #DD4B39;
  }
  >.icon-facebook {
    color: #3B5998;
  }
  >.fa-vk {
    color: #4a76a8;
  }
  &#google:hover {
    background-color: #DD4B39;
  }
  &#fb:hover {
    background-color: #3B5998;
  }
  &#vk:hover {
    background-color: #4a76a8;
  }
}

.btn-transparent.btn-text-white, .btn-transparent.btn-text-white:hover {
  border: 1px solid #FFF;
  color: #FFFFFF !important;
}

.btn-transparent.btn-text-black, .btn-transparent.btn-text-black:hover {
  border: 1px solid #000;
  color: #000 !important;
}

.container-fluid {
  max-width: $max-width-container;
}

.navbar {
  height: 100px;
  .nav-item {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}
.navbar .navbar-dropdown-big {
  width: 100vw;
  left: 0;
}

.dropdown-shadow {
  box-shadow: 0 4px 26px rgba(0, 0, 0, 0.19);
}

.nav-search {
  .input-group-prepend {
    border-radius: 10px;
    background: #fff;
    position: absolute;
    z-index: 1000;
    height: 90%;
    top: 5%;
    left: 2%;
    .input-group-text {
      background: #FFFFFF;
      border: none;
      color:#C1C8CA
    }
  }
  input#nav-search {
    border-radius: 10px !important;
    padding-left: 45px !important;
  }
}

.page-item.active .page-link {
  background-color: $link-color !important;
  color: white !important;
  border-color: $link-color !important;
}
.page-item:last-child .page-link, .page-item:first-child .page-link {
  border-radius: 0;
}

.btn-orange {
  color: white !important;
  font-weight:  normal;
  background-color: $link-color;
  border: 0;
  border-radius: 0;
  &:hover {
    color: white !important;
    background-color: black;
  }
  &.inverse {
    background-color: #000;
    &:hover {
      background-color: $link-color;
    }
  }

}

.btn-green {
  background-color: #37CF86;
  border: 0;
  border-radius: 0;
  color: white !important;
  &:hover {
    background-color: black;
  }
}

.dropdown-toggle {
  align-items: center;
  display: flex;
}

.dropdown-toggle::after {
  color: $link-color;
  font: normal normal normal 14px/1 'icon';
  content: '\e800';
  font-weight: 600;
  border: 0;
  text-align: center;
  display: block;
  padding: 0;
}

.dropdown-toggle.not-arrow::after {
  content: "";
  padding: 0;
  display: none;
}

.item {
  transition: .5s;
  border: 1px solid transparent;
  &:hover {
    border: 1px solid #A69C93;
  }
  .scale {
    overflow-x: hidden;
    overflow-y: hidden;
  }
  img {
    object-fit: cover;
    width: 100%;
    transition: .5s;
    display: block;
    height: 300px;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.img-gallery {
  border: 4px solid transparent;
  transition: .5s;
  &:hover, &.active {
    border: 4px solid #CF6B37;
  }
}
.img-preview {
  transition:opacity 0.5s linear;
  opacity: 0;
  position:absolute;
  &.active {
    opacity: 1;
  }
}

#error-alert {
  right: 50px;
  top: 100px;
}


@media (min-width: 992px) {
  .w-md-100 {
    width: 100%;
  }
  .w-md-50 {
    width: 50% !important;
  }
  .navbar .dropdown {
    position: relative;
  }
  .navbar .navbar-dropdown-big {
    width: 60vw;
  }
  .navbar .dropdown-menu a>img.scale {
    transition-duration: .5s;
    object-fit: cover;
    width: 100%;
  }
  .navbar .dropdown-menu a>img.scale:hover {
    transform: scale(1.05);
    transition: ease-in-out;
    transition-duration: .5s;
  }
  .dropdown-menu {
    animation: showNav 250ms ease-in-out both;
  }
  #cart {
    min-width: 646px;
  }
  .border-md-left {
    border-left: 1px solid #dee2e6!important;
  }
}

.swal2-popup {
  border-radius: 0 !important;
}
.swal2-styled {
  border-radius: 0 !important;
}

.transport-link {
  &:hover, &.active {
    border-color: $link-color !important;
  }
}

.login-page, .register-page, .password-request-page, .password-reset-page {
  //background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.5)), url('/images/bg-login.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  .card {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(123, 123, 123, 0.43);
    border: none;
    .input-group {
      background: transparent !important;
      .input-group-text {
        background: transparent !important;
      }
      &.is-invalid {
        input {
          color: #495057;
          background-color: #fff;
          border: 1px solid $link-color;
          border-left: none;
          outline: 0;
          box-shadow: none;
          background-image: none;
        }
        .input-group-text {
          border: 1px solid $link-color;
          border-right: none;
          color: $link-color;
        }
      }
      &.focus {
        input {
          color: #495057;
          background-color: #fff;
          border: 2px solid #A69C93;
          border-left: none;
          outline: 0;
          box-shadow: none;
        }
        .input-group-text {
          border: 2px solid #A69C93;
          border-right: none;
          color: $link-color;
        }

      }
      input {
        border-left: none;
        height: 50px;
      }
    }
    .invalid-feedback {
      color: $link-color
    }
  }
  #navbar {
    max-width: unset;
    width: 100%;
    justify-content: center;
    //display: flex;
    >.row {
      max-width: 1400px;
    }
    display: none;
  }
  #app {
    padding: 0 !important;
    height: 100%;
    main {
      height: 100%;
      padding: 0 !important;
      .container-fluid {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 993px) {
  .navbar {
    .dropdown {
      position: unset;
    }
    .dropdown-menu {
      width: 100vw;
      right: 0;
      position: absolute;
      top: 100px;
    }
  }
}
